<h1 mat-dialog-title>Create New Game</h1>
<div mat-dialog-content>
  <p>Select total number of blank players</p>
  <mat-form-field appearance="fill">
    <mat-label>Number blank players</mat-label>
    <input matInput type="number" min="1" [(ngModel)]="data.blankTotal">
  </mat-form-field>

  <p>Enter a username</p>
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="data.username">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Exit</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Create</button>
</div>
