
.btn-game {
  font-size: 30pt;
  line-height: 1.3;
  padding: 4%;
  width: 50rem;
  height: 10rem !important;
  margin: 4%;
}

.padding-menu {
  padding: 10px;
}

.padding {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.padding-vertical
{
  padding-top: 2%;
  padding-bottom: 2%;
}

.margin-bottom {
  margin-bottom: 5%;
}


.card-content {
  width: 90%;
}

.user-card {
  font-size: 20pt;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 1px;
  margin-left: 20px;
}

.card-margin {
  margin: 5px;
}

.content-all {
  font-size: 20pt;
  width: 100% !important;
  height: 100% !important;
  text-align: center !important;
  word-wrap: break-word;
}

.margin-btn {
  margin: 10px;
}
