/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-content{
  height: 93%;
  width: 100%;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-horizontal {
  display: flex;
  justify-content: center;
}

.fullscreen {
  height: 100%;
  width: 100%;
}

.fullscreen-approot {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

