<div class="container-content centered-content d-flex flex-column">
  <div class="alert alert-primary" role="alert">
    New version coming soon!! Thank you for using this application
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Blank Game</mat-card-title>
    </mat-card-header>
    <button mat-raised-button color="primary" (click)="openCreateDialog()">Create</button>
    <button mat-raised-button color="accent" (click)="openJoinDialog()">Join</button>
  </mat-card>
</div>


